{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="'stylesheet" type="text/css" href="">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/our_story">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/members">Church Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/contact">Contact Us</a>
          </li>
        </ul>
        {% block content %}
        {% endblock %}
      </div>
    
</body>
</html>