{% extends 'base.html' %}

{% block content %}
<h1 class="contact-heading">Contact Us</h1>

<div class="container" style="max-width: 40rem;">
    <p class="text-center">
        Turning Point UPC is a real church for real people that worship a VERY real God. Please, do not hesitate to
        reach
        out and contact us. We look forward to meeting you and seeing you in service!
    </p>
    <br>
    <br>
    <h3 class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">Phone</h3>
    <p class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">228-497-9966</p>
    <br>
    <h3 class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">Email</h3>
    <p class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">turningpointupc44@gmail.com</p>
    <br>
    <h3 class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">Social</h3>
    <p class="text-center" style="font-family: Lexend Zetta; font-weight: 200;">Find us on Facebook @ Turning Point UPC</p>


</div>

{% endblock %}