{% extends 'base.html' %}

{% block content %}
<div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089069/Turning_Point_Crowd_zwbrtq.jpg"
                class="d-block w-100" alt="Turning-Point-Crowd">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089533/Turning_Point_Worship1_idbyxr.jpg"
                class="d-block w-100" alt="Turning-Point-Worship1">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089544/Turning_Point_Worship2_liduc6.jpg"
                class="d-block w-100" alt="Turning-Point-Worship2">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089567/Turning_Point_Worship3_mwyohh.jpg"
                class="d-block w-100" alt="Turning-Point-Worship3">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089583/Turning_Point_Worship4_pxxb5s.jpg"
                class="d-block w-100" alt="Turning-Point-Worship4">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709088919/Turning_Point_Front_ygitgo.jpg"
                class="d-block w-100" alt="Turning-Point-Front">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709089248/Turning_Point_Family_leyryn.jpg"
                class="d-block w-100" alt="Revival">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1708650145/Image_2-22-24_at_6.35_PM_swj7j3.jpg" class="img-fluid" style="text-align: center;" alt="church-logo">
    <br>
    <div class="container">
        <p class="text-center" id="welcome">
            Welcome to Turning Point United Pentecostal Church of Gautier, Mississippi! An apolostic
            assembly that believes in the essentiality of Jesus name baptism and reciving the Holy Ghost. Please, feel
            free to contact us
            and check the order of our services. Use the links above to discover our story and get to know our staff.
            We look forward to worshiping with you!
        </p>
    </div>
    <br>
    <br>
    <h1 class="text-center">Order of Services</h1>

    <div class="text-center">
        <p>
        <h3>Sunday:</h3>
        10:00AM (Sunday School)
        <br>
        11:00AM (Worship Service)
        </p>
        <p>
        <h3>Tuesday:</h3>
        6:00PM (Prayer Meeting)
        </p>
        <p>
        <h3>Wednesday:</h3>
        7:00PM (Mid-week Service)
        </p>
    </div>
    <br>
    <br>
    <div class="text-center">
        <h1>Location</h1>
        <p>4404 Gautier Vancleave Rd.</p>
        <p>Gautier, MS 39553</p>
    </div>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.0852113704104!2d-88.65711932400846!3d30.4053241747439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x889bf1bfdc878f7d%3A0x7689205b044593f5!2s4404%20Gautier%20Vancleave%20Rd%2C%20Gautier%2C%20MS%2039553!5e0!3m2!1sen!2sus!4v1709328005319!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


</div>

{% endblock %}