{% extends 'base.html' %}

{% block content %}
<div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="https://scontent-atl3-2.xx.fbcdn.net/v/t39.30808-6/257239868_3417756621682333_8759402429803625208_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=7jwfFgnVGb0AX-K_QPg&_nc_oc=AQkwbryxS33Y4MUlK4K1MUvnQWK52tWatX9-TZIVGPGxcxyIo9iHcMxjiOsxa6SO2cqRI3jpDho51vlEHGbnKBZE&_nc_ht=scontent-atl3-2.xx&oh=00_AfDrcVdXOiqSJZ47vn-nWqqPlswRQ_tMmcyF9Px8DW8RPg&oe=65DB525E"
                class="d-block w-100" alt="Turning-Point-Crowd">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/245930691_3315460425245287_1708230284258851203_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=DftKQEuPpq8AX9qoVHv&_nc_ht=scontent-atl3-1.xx&oh=00_AfAZH9Zviq_g2GPMtg5dMvDW1yGYDoZT9zLw7L-Hpvgtew&oe=65DB2E69"
                class="d-block w-100" alt="Turning-Point-Front">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t39.30808-6/395501011_727342936089228_645971129873989429_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=7tr0GKcdCXgAX9khbOn&_nc_ht=scontent-atl3-1.xx&oh=00_AfD6JQZrD_5oIOjK0mzFu0bDokrunZXt5K4Bpj02N2yELg&oe=65DB803B"
                class="d-block w-100" alt="Revival">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <!-- <h1 class="text-center p-5 mb-5 mt-5">Turning Point United Pentecostal Church</h1> -->
    <img src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1708650145/Image_2-22-24_at_6.35_PM_swj7j3.jpg"
        class="text-center" alt="church-logo">
    <br>
    <div class="container">
        <p class="text-center" id="welcome">
            Welcome to Turning Point United Pentecostal Church of Gautier, Mississippi! Please, feel free to contact us
            and check the order of our services. Use the links above to discover our story and get to know our staff. 
            We look forward to worshiping with you!
        </p>
    </div>
    <br>
    <br>
    <h2 class="text-center">Order of Services</h2>

    <div class="text-center">
        <p>
        <h4>Sunday:</h4>
        10:00AM (Sunday School)
        <br>
        11:00AM (Worship Service)
        </p>
        <p>
        <h4>Tuesday:</h4>
        6:00PM (Prayer Meeting)
        </p>
        <p>
        <h4>Wednesday:</h4>
        7:00PM (Mid-week Service)
        </p>
    </div>


</div>

{% endblock %}