{% extends 'base.html' %}

{% block content %}
<h1 class="our-story-heading">Our Story</h1>

<div class="container" style="max-width: 40rem;">
    <div class="elder-killingsworths-img">
        <img id="elder-killingsworths"
            src="https://res.cloudinary.com/dovqwfl1u/image/upload/v1709396692/Elder_Killingsworth_s_vk9ftb.jpg">
    </div>
    <p>
        In 1971 Rev. Charles L. Killingsworth felt a calling to start a church in Gauiter, Mississippi while living in
        Cleveland, MS. That same year, he and his family moved to Gautier for the purpose of
        planting a new church in the community.
        The first service was held on November 21st 1971 in an old AirForce building purchased from Keesler Air
        Force Base. The name of the newly founded church was First United Pentecostal Church of Gauiter. From there, in
        1977, a new building was built which is still used as the current sanctuary. In 1999,
        Rev. Charles Killingworth's son, Derrick L. Killingsworth became the pastor and renamed the church to Turning
        Point UPC, and has faithfully
        served the role ever since. In 2014, Turning Point built a new Educational Building and Youth Center that
        currently serves our youth classes. Turning
        Point has a long and vibrant history, one that cannot be summed up in a simple short paragraph. The amount of
        lives that have been touched and changed though Turning Point are almost immeasurable. For over 52 years,
        Turning
        Point has reached countless lives with the apolostolic message and has seen many souls saved with the outpouring
        of the Holy Ghost and Jesus name baptism. Turning Point is in a season of revival and continues it's legacy as a
        Holy Ghost filled church. We welcome all who are spiritually hungry, broken, and seeking something more in their
        relationship with God. We look forward to worshiping with all.
    </p>
</div>

{% endblock %}