{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Turning Point Church Staff</h1>

<a href="{% url 'add_staff' %}">Add Staff Member</a>
<br>
<br>
{% for staffmember in staffmembers %}
<div class="card">
    <div class="card-content">
        <h1 class="staff-card-title text-center">{{ staffmember.name }}</h1>
        <h4 class="text-center">{{ staffmember.role }}</h4>
        <p>{{ staffmember.about }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'staff_update' staffmember.id %}">Edit</a>
        <a href="{% url 'staff_delete' staffmember.id %}">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}