{% extends 'base.html' %} {% block content %}
<h1 class="delete-event-heading">Delete Event</h1>

<h4 class="text-center">
  Are you sure you want to delete
  <span class="delete-event-name">{{ object.name }}</span>?
</h4>
<br>
<br>
<form action="" method="POST" class="text-center">
  {% csrf_token %}
  <button type="button" class="btn btn-danger"><input type="submit" value="Confirm Delete" class="btn"/></button>
  <button type="button" class="btn btn-secondary"><a href="{% url 'events_index' %}">Cancel</a></button>
</form>
{% endblock %}