{% extends 'base.html' %} {% block content %}


<div class="event-submit-container">
    {% if object %}
    <br>
    <br>
    <h1>
        Edit <span style="color: gray;">{{object.name}}</span>
    </h1>
    {% else %}
    <h1>Add Event</h1>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br>
        <button type="button" class="btn btn-success"><input type="submit" value="Submit" class="btn" /></button>
        <button type="button" class="btn btn-secondary"><a href="{% url 'events_index' %}">Cancel</a></button>
    </form>
    {% endblock %}
</div>