{% extends 'base.html' %} {% block content %}

{% if object %}
<br>
<br>
<h1>
    Edit <span class="teal-text">{{object.name}}</span>
</h1>
{% else %}
<h1>Add Staff Member</h1>

{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <button type="button" class="btn btn-success"><input type="submit" value="Submit" class="btn" /></button>
    <button type="button" class="btn btn-secondary"><a href="{% url 'staff_index' %}">Cancel</a></button>
    <br>
    <br>
</form>
{% endblock %}